{% extends 'base_course.html' %}

{% block main_content %}
<script type="text/javascript">
var units_json = {{ units_json|tojson() }};
var units_progress_json = {{ units_progress|tojson() }}


{% raw %}

//angular.module('cbAnimations', ['ngAnimate']).
var cbApp = angular.module('cbApp', [
  'ngRoute',
  'ngAnimate',
  'ngSanitize',
  'cbControllers'
]).factory('$streak', function() { 
  return {
    min: 10,
    not_started: "not_started",
    in_progress: "in_progress",
    completed: "completed",
    showIfStreak: true,
    $scope: null,
    userExercise: null,
  
    init: function($scope, userExercise) {
      this.$scope = $scope;
      this.userExercise = userExercise;
      if (this.userExercise.longestStreak >= this.min) {
        this.showIfStreak = false;
      }
      this.registerEvents();
    },

    showAchieved: function() {
      Badges.show({
        "badges": [
            {
                "absoluteUrl": "", 
                "badgeCategory": 0, 
                "description": "Streak", 
                "hideContext": false, 
                "iconSrc": "/images/badges/meteorite-small.png", 
                "icons": {
                    "compact": "/images/badges/meteorite-60x60.png", 
                    "large": "/images/badges/meteorite.png", 
                    "medium": "/images/badges/meteorite-medium.png", 
                    "small": "/images/badges/meteorite-small.png"
                }, 
                "isOwned": false, 
                "isRetired": false, 
                "name": "exercisecompleted", 
                "points": 0, 
                "relativeUrl": "{{ next_button_url }}", 
                "safeExtendedDescription": "Correct 10 vaardigheden problemen", 
                "slug": ""
            }
        ]
      })
    },
  
    update: function() {
      if (this.userExercise.longestStreak >= this.min) {
        this.$scope.percent = 100;
        //if (this.showIfStreak) {
        //  this.showAchieved();
        //}
      } else {
        this.$scope.percent = this.userExercise.streak * 100 / this.min;
      }
      this.$scope.$apply();
    },

    calculate: function(userExercise, answer) {
      if (answer && answer.correct) {
        userExercise.streak++;
      } else if (answer) {
        userExercise.streak = 0
      }
      if (userExercise.streak >= this.min || userExercise.longestStreak >= this.min) {
        return 100;
      } else {
        return userExercise.streak * 100 / this.min;
      }
    },
 
    registerEvents: function() {
      var self = this;
      $(Khan).bind("updateUserExercise", function(ev, data) {
        console.debug("unit.html: updateUserExercise");
        self.userExercise = data.userExercise;
      });
      $(Exercises).bind("checkAnswer", function(ev, answer) {
        console.debug("unit.html: checkAnswer");
        if (answer.correct) {
          self.userExercise.streak++;
        } else {
          self.userExercise.streak = 0
        }
        Streak.update();
      });
    }
  }
});

cbApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/units', {
        templateUrl: 'assets/lib/course.html',
        controller: 'OutlineCtrl'
      }).
      when('/units/:unitId', {
        templateUrl: 'assets/lib/unit.html',
        controller: 'UnitCtrl'
      }).
      when('/units/:unitId/:lessonId', {
        templateUrl: 'assets/lib/unit.html',
        controller: 'UnitCtrl'
      }).
      otherwise({
        redirectTo: '/units'
      });
  }]);

var cbControllers = angular.module('cbControllers', [])
 
cbControllers.controller('OutlineCtrl', ['$scope', '$http',
  function ($scope, $http) {
    $.each(units_json, function(k, unit) {
      unit.progress = "not_started";
    });
    $scope.units = units_json;
    setTimeout(function() {
    $(".view-frame").show()   
    }, 100);
  }]);
 
cbControllers.controller('UnitCtrl', ['$scope', '$http', '$routeParams', '$sce', '$streak',
  function($scope, $http, $routeParams, $sce, $streak) {
    $.each(units_json, function(k, unit) {
      if (unit.unit_id == $routeParams.unitId) {
        $scope.unit = unit;
        return;
      }
    });


    $scope.unitId = $scope.unit.unit_id;
    $scope.lessonId = $routeParams.lessonId || $scope.unit.lessons[0].lesson_id;
    
    $.each($scope.unit.lessons, function(k, lesson) {
      if (lesson.lesson_id == $scope.lessonId) {
          $scope.lesson = lesson;
          lesson.active = "active";
      } else {
          lesson.active = "";
      }
      lesson.progress = "not_started";
    });

    $scope.lesson = $scope.lesson || $scope.unit.lessons[0];
    $scope.nextUnit = units_json[$scope.unit.index+1] || false;
    $scope.exercise = $scope.lesson.kind == "exercise";
    $scope.video = $scope.lesson.kind == "video";
    $scope.admin = true;
    $scope.percent = 0;
    

    var khanex = $($scope.lesson['objectives']).filter("khanex").eq(0).attr("name");

    $http.get('/api/v1/user/exercises/'+khanex+'?casing=camel')
      .success(function(userExercise) {
      $(".view-frame").show()   
      userExercise.exerciseModel.name = khanex
      $scope.percent = $streak.calculate(userExercise);
      $(Exercises).trigger("problemTemplateRendered");
      $(".exercise").show()
      $(Exercises).trigger("clearExistingProblem")
      $(Exercises).trigger("gotoNextProblem");
      $(Exercises).trigger("readyForNextProblem", {
        "userExercise": userExercise 
      });
      $(Exercises).bind("checkAnswer", function(ev, answer) {
        $scope.percent = $streak.calculate(userExercise, answer);
        $scope.$apply();
      });
    console.error("LOAD!2")
    });
    console.error("LOAD!")
  }])
</script>
<div class="view-container">
<div ng-view class="view-frame"></div>
</div>


{% endraw %}
    
{% endblock %}
